html { 
    height:100%;
    background-size: cover;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(212,194,167,1) 100%);
}
body{background-color: transparent;}
table{
    text-align:center;
    width:100%;
    background-size: cover;
    background: transparent;
}
.th-border{border-top:2px solid #AA9C92; }
td{padding-left:1rem;
padding-right:1rem;}
table td + td { border-left:2px solid #AA9C92; }
table th + th { border-left:2px solid #AA9C92; }
.round{
    border-radius:.25rem;
    padding-left:11px;
    padding-right:11px;
    padding-top:5px;
    padding-bottom:5px;
}
button{
    background-color: #AA9C92;
}
label{
    border: 1px solid;
    border-radius: .25rem;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
    margin-right: .5rem;
    background-color: #A2A3AA;
}
form{margin-left:1rem;
margin-top:1rem;
margin-bottom:1rem;}